* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.animation_container{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    /* border: 2px solid red; */
}

.animation_container .circle{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 50%;
}

.animation_container .circle::before{
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    background: #222;
    opacity: 0.8;
}

.animation_container .circle::after{
    content: '';
    position: absolute;
    width: 140px;
    height: 140px;
    background: #333;
    border: 15px solid #4d4c51;
    border-radius: 50%;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.25), 
    0 10px 10px rgba(0, 0, 0, 0.75),
    0 -2px 2px rgba(255, 255, 255, 0.5),
    inset 0 4px 2px rgba(0, 0, 0, 0.25),
    inset 0 -2px 2px rgba(255, 255, 255, 0.5);
}

.animation_container .circle .number{
    position: relative;
    top: -5%;
    color: #ffffff;
    z-index: 10;
    font-size: 26px;
    margin: 0px;
}

.animation_container .circle  .number span{
    font-size: 0.9em;
    font-weight: 500;
}

.animation_container .circle h4{
    position: absolute;
    top: 57%;
    color: #fff;
    z-index: 10;
    font-weight: 400;
    font-size: 18px;
    line-height: 0.6em;
    margin:0px;
    text-transform: uppercase;
}




@media screen and (max-width: 576px){
    .animation_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .animation_container .circle{
        width: 200px;
        height: 200px;
    }

    .animation_container .circle::after{
        width: 130px;
        height: 130px;
    }
}

@media screen and (min-width: 576px){
    .animation_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .animation_container .circle{
        width: 200px;
        height: 200px;
    }

    .animation_container .circle::after{
        width: 130px;
        height: 130px;
    }
}


@media screen and (min-width: 768px){
    .animation_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .animation_container .circle{
        width: 210px;
        height: 210px;
    }

    .animation_container .circle::after{
        width: 130px;
        height: 130px;
    }
}

@media screen and (min-width: 1100px){
    .animation_container{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .animation_container .circle{
        width: 230px;
        height: 230px;
    }

    .animation_container .circle::after{
        width: 140px;
        height: 140px;
    }
}