@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  height: auto;
  background-color: #24272C;
}

.html{
  scroll-behavior: smooth;
}
/* Navbar */

.navbar{
  padding: 10px 0px 10px 0px;
}
.NavBg_color{
  background-color: #b0afb245; 
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease;
}
.content{
  display: none;
}

.show-content{
  display: block;
  height: auto;
}

.second_content{
  display: none;
}

.collapse{
  /* border: 2px solid blue; */
}
.P_Nav{
  width: 80%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.P_Nav li{
  width: 150px;
  height: 100%;
}
.P_Nav li a{
  color: white !important;
  font-size: 19px;
  line-height: 24px;
  color: white;
  font-weight: 500;
  transition: .3s ease-in-out;
}

.P_Nav li:hover{
  background-color: #7733FF;
}

.Home_container{
  width: 100%;
  height: auto;
  background-color: #232732;
  border-radius: 24px;
  box-shadow: inset #00000040 10px 10px 5px 0px,
  inset #FFFFFF40 -5px -5px 10px 0px;
  padding: 70px 120px 180px 120px;
  /* border: 2px solid red; */
}

.introduction_part{
  /* border: 2px solid red; */
  display: grid;
  align-content: center;
  justify-items: center;
  padding: 100px 0px;
  color: white;
}
.intro_img{
  width: 470px;
  height: 470px;
  border-radius: 50%;
  filter: drop-shadow(15px 15px 30px #00000040);
}
.intro_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.introduction_part h4{
  font-size: 35px;
  font-weight: 400;
  margin: 40px 0px 20px 0px;
}
.introduction_part h2{
  font-weight: 600;
  font-size: 58px;
}
.third_heading{
  font-size: 37px;
  font-weight: 500;
  letter-spacing: 0.38px;
  display: flex;
  align-items: center;
  margin: 5px 0px 25px 0px;
}
.third_heading div{
  width: 5px;
  height: 45px;
  background-color: #D32D20;
}
.introduction_part p{
  width: 55%;
  text-align: center;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.38px;
}
.intro_last_item{
  width: 35%;
  height: 57px;
  margin: 45px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.intro_last_item a{ 
  text-decoration: none;
  font-weight: 500;
  outline: none;
}

.intro_last_item_box{
  width: 39%;
  height: 100%;
  box-shadow:  #00000040 2px 2px 15px 0px,  #FFFFFF40 -2px -2px 5px 0px;
  background-color: #24272C;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  border: none;
  outline: none;
  color: white !important;
  transition: .3s ease-in-out;
}
.intro_last_item_box button{
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}
.intro_last_item_box:hover{
  background-color: #7733FF;
}

.About_me{
  height: auto;
  /* border: 2px solid blanchedalmond; */
}
.about_left_side{
  display: flex;
  align-items: center;
  justify-content: start;
}
.about_left_side img{
  width: 80%;
  height: 89%;
  object-fit: inherit;
  border-radius: 30px;
  box-shadow:  #00000040 10px 15px 25px 0px,
   #FFFFFF40 -2px -1px 10px 0px;
}
.about_right_side{
  /* border: 2px solid gold; */
  height: 469px;
  color: white;
  display: grid;
  align-content: center;
  row-gap: 25px;
}
.about_right_side h4{
  font-weight: 500;
  line-height: 24px;
  font-size: 34px;
}
.about_right_side p{
  width: 84%;
  font-size: 19px;
  line-height: 30px;
  letter-spacing: 0.38px;
}

.Projects_part{
  width: 100%;
  height: auto;
  /* border: 2px solid aliceblue; */
  color: white;
}
.H_title{
  font-weight: 500;
  line-height: 24px;
  font-size: 34px;
  color: white;
}
.project_rate{
  width: 100%;
  height: 4px;
  border-radius: 5px;
  margin: 45px 0px;
  background-color: #7733FF;
}
/* .blue_rate{
  width: 70%;
  height: 100%;
  background-color: red;
  border-radius: 5px;
} */
.Project_category{
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  margin: 70px 0px 110px 0px;
}

.Project_button{
  height: 56px;
  width: 260px;
  transition: .3s ease-in-out;
  color: white !important;
  box-shadow:  #00000040 2px 2px 15px 0px,  #FFFFFF40 -2px -2px 5px 0px;
  background-color: #24272C;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.Project_button:focus{
  background-color: #7733FF;
}fs
.Analyze_box{
  height: 661px;
  /* border: 2px solid aqua; */
  display: grid;
  align-content: space-between;
  padding: 0px 50px;
}
.Analyze_box:nth-child(2){
  align-content: center;
  justify-content: center;
  padding: 0px;
}
.Analyze_box img{
  object-fit: cover;
  border-radius: 50%;
  box-shadow:  #301c1c4d 10px 10px 10px 0px,
   #FFFFFF40 -4px -3px 10px 0px;
   cursor: pointer;
   transition: .2s ease-in-out;
}
.Analyze_box img:hover{
  box-shadow:  #301c1c4d 10px 10px 20px 0px,
  #FFFFFF40 -4px -3px 20px 0px;
}
.Anaylyze_right{
  height: 555px;
  width: 72%;
  box-shadow:  #00000040 10px 10px 20px 0px,
   #FFFFFF40 -4px -3px 20px 0px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 48px;
  padding: 15px 0px;
  border-radius: 15px;
  transition: .3s ease-in-out;
}

.Anaylyze_right img{
  height: 100%;
  border-radius: 0px;
  border-radius: 15px;
}
.Anaylyze_right h4{
  font-size: 27px;
  margin: 25px 0px;
}
.Anaylyze_right p{
  width: 85%;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin: 0px;
}
.Anaylyze_right a{
  font-size: 16px;
  margin-top: 5px;
  text-decoration: none;
}

.skills{
  height: auto;
  /* border: 2px solid red; */
  color: white;
}
.skills button{
  margin: 85px auto 120px auto;
}

.Skills_carusel_box{
  width: 100%;
  height: 400px;
}
.slide{
  width: 88%;
  margin: 0 auto;
  /* border: 2px solid blue; */
}

.skills_button{
}

.carousel-item img{
  width: 330px;
  height: 330px;
  object-fit: contain;
  margin: 0 auto;
}
.Carusel_Button{
  width: 4% !important;
  height: 65px;
  background-color: #232732;
  border-radius: 11px;
  margin: 100px auto !important ;
  box-shadow:  #00000040 8px 8px 4px 0px,  #FFFFFF40 -2px -2px 10px 0px; 
}



.Same_parts{
  padding: 140px 0px 0px 0px;
}

.certificate_image_holder{
  /* border: 2px solid red; */
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.certificate_image_holder img{
    width: 23%;
    height: 180px;
    object-fit: contain;
    background-color: white;
    border-radius: 25px;
    box-shadow: inset #0000005c 2px 5px 15px 2px, inset #ffffff 10px 2px 1px 0px;
}




/* ****  Experience Part  *****/
.Experience_part{
  /* border: 2px solid red;
  position: relative; */
}
.Experience_category{
  margin: 170px 0px 80px 0px;
  justify-content: space-evenly;
}
.experience_writing{
  border: 2px solid green;
  position: relative;
  height: 1050px;
}


.E_writing_box{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.E_writing_box:nth-child(1){
  justify-content: start;
}
.E_writing_item{
  width: 80%;
  height: auto;
  margin-top: 140px;
  background-color: #232732;
  border-radius: 24px;
  box-shadow:  #00000040  5px 8px 4px 2px,  #FFFFFF40 -5px -1px 20px 0px; 
  color: #bdbcbc;
  /* color: white; */
  padding: 20px 22px;
  letter-spacing: 0.38px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}


.E_writing_item h5{
  font-weight: 600;
  font-size: 20px;
}
.E_writing_item h6{
  font-weight: 500;
  font-size: 17px;
}
.E_writing_item p{
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  margin: 8px 0px 0px 0px;
}

.E_writing_center_box{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.E_writing_center_box div{
  border: 2px solid #363636CC;
  height: 100%;
  z-index: 1;
}
.E_writing_center_box a{
  background-color: transparent;
  outline: none;
  text-decoration: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.e_center_img1{
  width: 90px;
  height: 90px;
  z-index: 3;
  position: absolute;
  top: 30%;
  transition: box-shadow 0.4s ease;
}

.e_center_img2{
  width: 90px;
  height: 90px;
  z-index: 3;
  position: absolute;
  top: 75%;
  transition: box-shadow 0.4s ease;
}

.e_center_img3{
  position: absolute ;
  width: 90px;
  height: 90px;
  z-index: 3;
  top: 80%;
  transition: box-shadow 0.4s ease;
}








.Contact_information_box{
  margin-top: 120px;
}
.contact_img_holder{
  width: 72%;
  height: 358px;
  border-radius: 29px;
  background-color: #232732;
  box-shadow:  #00000040 8px 8px 4px 0px,  #FFFFFF40 -4px -2px 15px 0px; 
  display: flex;
  justify-content: center;
  align-items: end;
}
.contact_img_holder img{
  width: 85%;
  height: 90%;
  object-fit: cover;
}
.certificate_image_holder img:hover{
  transform: scale(1.1);
  object-fit: cover;
}
.contact_form{
  width: 75%;
  height: 464px;
  /* border: 2px solid red; */
  display: grid;
  align-content: space-between;
  justify-items: center;
}
.contact_form input{
  width: 100%;
  height: 60px;
  border-radius: 12px;
  background-color: #232732;
  box-shadow: inset #1A1C25E5 4px 4px 10px 0px,
  inset #2C3240E5 -4px -4px 8px 0px;  
  outline: none;
  border: none;
  color: white;
  padding: 0px 20px;
  font-weight: 500;
  font-size: 19px;
}
.contact_form textarea{
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #232732;
  box-shadow: inset #1A1C25E5 4px 4px 10px 0px,
  inset #2C3240E5 -4px -4px 8px 0px; 
  color: white;
  font-weight: 500;
  font-size: 19px;
  resize: none;
}

.form_button{
  width: 32%;
  background-color: #232732;
  border-radius: 24px; 
  padding: 0px 20px;
  text-align: center;
  font-size: 22px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 19px;
  color: white;
  box-shadow:  #00000040 12px 10px 15px 0px,  #FFFFFF40 -3px -2px 13px 0px;
  transition: .2s ease-in-out;
}
.form_button:hover{
  background-color: #7733FF;
}

.form_button::placeholder{
  color: white;
}


/* preloading */

.preloader{
  height: 100vh;
  width: 100%;
  background-color: #000;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 55;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.preloader .texts-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 500px;
  font-size: 25px;
  font-weight: 800;
  overflow: hidden;
  color: white;
}


/* View component */

.View_container{
  width: 100%;
  height: auto   ;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.view_left{
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}
.View_btn{
  width: 49%;
  height: 8%;
  box-shadow:  #00000040 2px 2px 15px 0px,  #FFFFFF40 -2px -2px 5px 0px;
  background-color: #24272C;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: .3s ease-in-out;
}
.View_btn:hover{
  background-color: #7733FF;
  color: white;
}
.View_btn:hover i{
  color: white;
}
.View_btn button{
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 18px;
  color: white;
  transition: .3s ease-in-out;
}
.View_btn button i{
  color: #7733FF;
}

.view_right{
  width: 55%;
  height: 100%;
  text-align: center;
}

.view_right_img{
  width: 80%;
  height: 0%;
  object-fit: fill;
  border-radius: 20px;
  filter: drop-shadow(-17px 15px 4px #00000040);
   margin: 0 auto;
}

.Zoom_btns{
  width: 23%;
  height: 40px;
  background-color: #0078d0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 45px;
  margin: 24px 14px;
  border: none;
  font-size: 17px;
  transition: .1s ease-in-out;
}

.Zoom_btns:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}


/* Progressbar */

section{
  color: white;
  font-size: 22px;
  display: grid;
  height: 150px;
}

.progress-bar-container{
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(191, 191, 216, 0.701);
  width: 100%;

}
.progress-fill{
  width: 100px;
  height: 100%;
  background-color: green;
  /* background-image: linear-gradient(to right, red, orange); */
}



/* ---- custom scrollbar ---- */

::-webkit-scrollbar{
  width: 15px;
}

::-webkit-scrollbar-track{
  background: rgba(93, 91, 91, 0.457);
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(#7733FF, #0078d0);
  border-radius: 10px;
}

/* -- Porgress-bar -- */

#progress-bar{
  --progress: 0;
  height: 4px;
  width: var(--progress);
  background: linear-gradient(to right,red, #ee9b1f);
}






